extends layout
block content
  div(class = container)
    h2(class = 'text-center') Available Games
    ul(class = 'list-group')
      each val in postings
        a(href = '/' + uid + '/home/' + val.PID)
          li(class = 'list-group-item')=val.title
